/* Set the size of the div element that contains the map */
#map {
  height: 580px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 0 20px;
}

.logo1 img {
    width: 350px;
    height: 50px;
    background: white;
}

.logo2 {
	margin-left: auto;
}

.logo2 img {
	width: 200px;
    height: 50px;
    background: white;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
    padding-left: 80px;
}

li {
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 28px;
    font-family: Raleway Regular;
    color: #333;
    align-items: center;
}

a:hover {
	color: #ccc;
}