<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dublin Bike Stations</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="img\favicon.ico">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Dublin Bike Stations</h1>
  </header>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('all_stations') }}">Stations</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <main>
    <div class="content-container">
      <div class="left-side">
        <div class="journey-container">
          <div class="journey-section">
            <h3>Begin Journey</h3>
            <!-- <select>
              {% for hour in range(8, 24) %}
              <option value="{{ hour }}:00">{{ "%02d" % hour }}:00</option>
              {% endfor %}
            </select> -->
            <input class="location-input" id="start_location" type="text" placeholder=" Select a location on the map">
          </div>
          <div class="journey-section">
            <h3>Finish Journey</h3>
            <!-- <select>
              {% for hour in range(8, 24) %}
              <option value="{{ hour }}:00">{{ "%02d" % hour }}:00</option>
              {% endfor %}
            </select> -->
            <input class="location-input" id="end_location" type="text" placeholder=" Select a location on the map">
          </div>
        </div>
        <div class="weather-container">
          <h3>Weather in Dublin</h3>
          <div class="weather-info">
            <div class="weather-icon">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Weather icon"
                id="weather-icon">
            </div>
            <div class="weather-details">
              <p id="temperature"></p>
              <p id="weather-description"></p>
              <p id="humidity"></p>
              <p id="wind-speed"></p>
              <p>
                Wind direction:
                <span id="wind-direction"></span>
                <span class="wind-arrow" id="wind-arrow">&#10148;</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
    <div class="predition-container">
      <form id="prediction-form">
        <div id="prediction-labels">
          <label for="station-number">Station number:</label>
          <label for="weather">Weather:</label>
          <label for="description">Description:</label>
          <label for="temp">Temperature:</label>
          <label for="feels-like">Feels like:</label>
          <label for="humidity">Humidity:</label>
          <label for="wind-speed">Wind speed:</label>
          <label for="day">Day:</label>
          <label for="hour">Hour:</label>
        </div>
        <div id="prediction-inputs">
          <input type="text" id="station-number" name="station_number"><br>
          <input type="text" id="weather" name="weather"><br>
          <input type="text" id="description" name="description"><br>
          <input type="text" id="temp" name="temp"><br>
          <input type="text" id="feels-like" name="feels_like"><br>
          <input type="text" id="humidity" name="humidity"><br>
          <input type="text" id="wind-speed" name="wind_speed"><br>
          <input type="text" id="day" name="day"><br>
          <input type="text" id="hour" name="hour"><br>
        </div>
        <button type="submit" id="predict-button">Predict</button>
      </form>
      <div id="prediction-results"></div>
    </div>
  </main>
  <div id="marker-icons" style="display:none;" data-start-icon="{{ url_for('static', filename='img/start.png') }}"
    data-end-icon="{{ url_for('static', filename='img/end.png') }}"></div>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFKfX9-Zt_A2qvrIUyINuK2Gi-iOBHB5Y&libraries=geometry&callback=initMap"></script>
  <script id="main-script" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script id="main-script" src="{{ url_for('static', filename='js/weather.js') }}"></script>
  <script id="main-script" src="{{ url_for('static', filename='js/predictive.js') }}"></script>
</body>

</html>