<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bike Station Information</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="img\favicon.ico">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<body>
    <header>
        <h1>Dublin Bike Stations</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('all_stations') }}">Stations</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <!-- Main content -->
    <div class="specific-container" id="information">
        <!-- Row for the station title -->
        <div id="loader" class="loader"></div>
        <div class="row" id="station_title_row" style="display:none;">
            <h1 id="station_title"></h1>
        </div>
        <div class="row" id="current_availability_header" style="display:none;">
            <h2>Current Availability Information</h2>
        </div>

        <!-- Row for the station availability information -->
        <div class="row" id="station_info" style="display:none;"></div>

        <!-- REFERENCE -->
        <script> var station_id = '{{ station_id }}'; </script>

        <!-- Div that will hold the bikes chart -->
        <div id="bike_chart_div"></div>

        <!-- Div that will hold the stands chart -->
        <div id="stand_chart_div"></div>
        
        <div id="bike_hour_chart_div_mon"></div>
        <div id="bike_hour_chart_div_tues"></div>
        <div id="bike_hour_chart_div_wed"></div>
        <div id="bike_hour_chart_div_thur"></div>
        <div id="bike_hour_chart_div_fri"></div>
        <div id="bike_hour_chart_div_sat"></div>
        <div id="bike_hour_chart_div_sun"></div>

        <script src="{{ url_for('static', filename='js/stations-specific.js') }}"></script>
        <script>displayStationInfo()</script>
        <script>drawStandChart()</script>
        <script>drawBikeChart()</script>
        <script>drawBikeHourMonChart()</script>
        <script>drawBikeHourTuesChart()</script>
        <script>drawBikeHourWedChart()</script>
        <script>drawBikeHourThurChart()</script>
        <script>drawBikeHourFriChart()</script>
        <script>drawBikeHourSatChart()</script>
        <script>drawBikeHourSunChart()</script>
</body>
</html>