<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bike Stations</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="img\favicon.ico">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

<body>
    <header>
        <h1>Dublin Bike Stations</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('all_stations') }}">Stations</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
    <!-- reference -->
    <div id="container">
        <div class="list-container"> <!--added during chart work -->
            <div class="row">
                <input type="text" id="input" onkeyup="filterStations()" placeholder="Find Stations">
            </div>
        
            <div class="row">
                <ul id="list"></ul>
            </div>
        </div> <!--added during chart work -->
    </div>

    <!-- Code to get station information -->
    <script src="{{ url_for('static', filename='js/stations-all.js') }}"></script>
    <script>addStations()</script>
</body>

</html>