body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    font-family: "Brush Script MT";
    padding: 0 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.logo1 img {
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.logo2 {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logo2 img {
    height: 45px;
    margin-top: 0.5rem;
}

header h1 {
    color: #fff;
    margin: 0;
    display: inline-block;
    margin-left: 1rem;
    /* Add this line to add space between logo and header text */
}

nav {
    background-color: #444;
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav a {
    font-size: small;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.nav-item {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: inline-flex;
    align-items: center;
}

.nav-item img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 5px;
    filter: brightness(0) invert(1);
}

nav ul li a:hover {
    filter: invert(52%) sepia(94%) saturate(1921%) hue-rotate(191deg) brightness(103%) contrast(102%);
}

h2 {
    margin-top: 2px;
    margin-bottom: 4px;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.journey-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
}

.journey-section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
}

/* .journey-section h2 {
    margin-bottom: 0.25rem;
} */

.journey-section input {
    height: 30px;
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    caret-color: transparent;
}

.content-container {
    display: flex;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 32%;
    min-width: 300px;
    max-width: 320px;
    /* Adjust this value to your preference */
    box-sizing: border-box;
    margin-right: 1rem;
}

.map-container {
    flex-grow: 1;
    width: 100%;
}

/* Add this media query */
@media (max-width: 767px) {
    .content-container {
        display: block;
    }

    .left-side {
        min-width: 100%;
        margin-bottom: 1rem;
        margin-right: 0;
        /* Add this line */
    }

    .map-container {
        width: 100%;
    }

    #map {
        width: 100%;
        max-width: 100%;
    }
}

main {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.journey-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
}

/* Add this to limit the width of the input fields */
.journey-container input,
.journey-container select {
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 1px;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.weather-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
}

.weather-container h3 {
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.weather-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.weather-icon img {
    width: 80px;
    height: 80px;
}

.weather-details {
    display: flex;
    flex-direction: column;
}

.weather-details p {
    margin-top: 0.65rem;
    /* Adjust this value to change the spacing between paragraphs */
    margin-bottom: 0.65rem;
    /* Adjust this value to change the spacing between paragraphs */
}

.wind-arrow {
    display: inline-block;
    transform-origin: center center;
}

.prediction-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
}

.prediction-container input,
.prediction-container select,
.prediction-container datalist {
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 1px;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.info-card {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.info-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.info-card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.info-card a {
    text-decoration: none;
    color: #2196f3;
    font-size: 14px;
}


.prediction-container h2 {
    margin-bottom: 1rem;
}

#prediction-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}


#prediction-form h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.prediction-input {
    flex-grow: 1;
    height: 30px;
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    caret-color: #333;
}

#predict-button {
    width: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#predict-button:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

#prediction-results {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 1rem;
    flex-grow: 1;
    box-sizing: border-box;
}

.prediction-results-container {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 1rem;
    background-color: #fff;
}

.prediction-results-container h2 {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
}

.results-container {
    display: flex;
    width: 100%;
    justify-content: center;
}


.result-section {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.prediction-results-container h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.icon-placeholder {
    font-size: 5.5rem;
    line-height: 5.5rem;
    width: 300px;
}

.prediction-results-container img {
    width: 6rem;
    height: 6rem;
}

@media (max-width: 767px) {
    .prediction-results-container {
        margin-top: 1rem;
    }
}

.learn-more-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.learn-more-button:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

/* Add the following rules */
#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    /* Add this line to center text */
}

.row {
    margin-bottom: 1rem;
}

.list-container {
    width: 50%;
    /* Set the width of the container */
    margin: 0 auto;
    /* Center the container */
}

.list-container input[type="text"] {
    width: 72%;
    /* Set the width of the input field to 100% of its container */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

ul#list {
    list-style-type: none;
    padding: 0;
    width: 72%;
    /* Add this line to set the list width */
    margin: 0 auto;
    /* Add this line to center the list */
}

ul#list li {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

ul#list li:hover {
    background-color: #e0e0e0;
}

ul#list li a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 767px) {

    /* Adjust the list-container width on smaller screens */
    .list-container {
        width: 100%;
    }
}

.row {
    margin-bottom: 1rem;
}

#station_title {
    margin: 0;
}

#station_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.station-info-box {
    width: 30%;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.station-info-box h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.station-info-box p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.station-info-box span {
    font-weight: bold;
}

@media (max-width: 767px) {
    .station-info-box {
        width: 100%;
        margin-right: 0;
    }
}

.chart-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.chart-divs>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    /* Adjust the height to match the chart height */
    border-radius: 10px;
}

.chart-divs>div>div {
    width: 100%;
    height: 400px;
    /* Adjust the height to match the chart height */
    border-radius: 10px;
}

.chart-divs>div:not([style*="display:none"]) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    /* Adjust the height to match the chart height */
    border-radius: 10px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    border-radius: 10px;
}

.chart-container h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width: 767px) {
    .chart-container {
        min-width: 100%;
    }
}

/* Targeting the child elements */
#bike_chart_div,
#stand_chart_div,
#bike_hour_chart_div_mon,
#bike_hour_chart_div_tues,
#bike_hour_chart_div_wed,
#bike_hour_chart_div_thur,
#bike_hour_chart_div_fri,
#bike_hour_chart_div_sat,
#bike_hour_chart_div_sun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
    /* Adjust the height to match the chart height */
}

.specific-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .specific-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
} */

/* .specific-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: none;
} */

/* .specific-container.show:before {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
} */

/* Style for loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader container */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* Loader element */
.loader-container .loader {
    position: relative;
    z-index: 1;
}

.loader-container.show .loader {
    display: block;
}

/* Loader text */
.loader-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    /* Adjust this value to position the text below the loader */
    text-align: center;
    font-size: 16px;
    color: #333;
}

.about-container {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    justify-items: center;
    padding: 1.5rem 2rem 2rem 2rem;
}

.about-container input[type="text"] {
    width: 72%;
    /* Set the width of the input field to 100% of its container */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

@media (max-width: 767px) {

    /* Adjust the list-container width on smaller screens */
    .about-container {
        width: 100%;
    }
}

.main-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures that the main element takes up at least the full viewport height */
    margin-top: -1rem;
}
